:root {
  --content-max-width: 480px;
  --header-height: 3rem;
  --result-area-height: 5rem;
  --footer-height: 2rem;
  --monospace-font-family: "Lucida Console", Courier, monospace;
}

body {
  background-color: light-dark(
    var(--color-light-background),
    var(--color-dark-background)
  );
  padding: 0;
  margin: 0;
}

header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100vw;
  height: var(--header-height);
  z-index: 10;
}

header,
header div {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.25rem;
  gap: 0.5rem;
  background-color: light-dark(
    var(--color-light-surface-container),
    var(--color-dark-surface-container)
  );
  color: light-dark(
    var(--color-light-on-surface),
    var(--color-dark-on-surface)
  );
}

header img {
  height: 2rem;
}

header h1 {
  margin: 0;
  padding: 0;
  font-size: calc(2rem / 3 * 2);
  line-height: 2rem;
  font-weight: normal;
  flex-grow: 1;
}

#main-menu {
  position: fixed;
  top: 3rem;
  right: 0.5rem;
  z-index: 20;
}

#result-area {
  position: sticky;
  top: 3rem;
  left: 0;
  width: 100vw;
  height: var(--result-area-height);
  z-index: 10;
  padding: 0.25rem 0.5rem 1rem 0.5rem;
  background-color: light-dark(var(--color-light-form), var(--color-dark-form));
}

main {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: calc(
    100vh - var(--header-height) - var(--result-area-height) -
      var(--footer-height)
  );
  margin: 0;
  padding: 0.25rem 0.5rem 0.5rem 0.5rem;
  background-color: light-dark(var(--color-light-form), var(--color-dark-form));
}

#char-map {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  font-family: var(--monospace-font-family);
  max-width: 100%;
  background-color: light-dark(
    var(--color-light-surface-variant),
    var(--color-dark-surface-variant)
  );
  border-radius: 0.25rem;
  border: solid 0.125rem
    light-dark(
      var(--color-light-surface-variant),
      var(--color-dark-surface-variant)
    );
}

#char-map span {
  display: inline-block;
  line-height: 1.5rem;
  padding: 0 0.125rem;
  text-align: center;
  background-color: light-dark(var(--color-light-form), var(--color-dark-form));
  color: light-dark(
    var(--color-light-on-surface),
    var(--color-dark-on-surface)
  );
}

#char-map .disabled {
  background-color: light-dark(
    var(--color-light-surface-variant),
    var(--color-dark-surface-variant)
  );
  color: light-dark(
    var(--color-light-on-surface-variant),
    var(--color-dark-on-surface-variant)
  );
}

#char-map .used {
  background-color: light-dark(
    var(--color-light-tertiary-container),
    var(--color-dark-tertiary-container)
  );
  color: light-dark(
    var(--color-light-on-tertiary-container),
    var(--color-dark-on-tertiary-container)
  );
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: var(--footer-height);
  margin: 0;
  padding: 0 0.5rem env(safe-area-inset-bottom, 0) 0.5rem;
  gap: 1rem;
  width: 100vw;
  color: light-dark(
    var(--color-light-on-surface-variant),
    var(--color-dark-on-surface-variant)
  );
  background-color: light-dark(
    var(--color-light-surface-container),
    var(--color-dark-surface-container)
  );
}

footer > a:not([class]) {
  color: light-dark(var(--color-light-link), var(--color-dark-link));
}

@media (width < 480px) {
  .hidden-xs {
    display: none;
  }
}

@media (min-width: 480px) {
  .hidden-sm {
    display: none;
  }

  header {
    padding: 0.25rem calc((100vw - var(--content-max-width)) / 2);
  }

  #result-area {
    margin: 0 calc((100vw - var(--content-max-width)) / 2);
    width: var(--content-max-width);
  }

  main,
  footer {
    margin: 0 calc((100vw - var(--content-max-width)) / 2);
    width: var(--content-max-width);
  }
}
