:root {
  --content-max-width: 640px;
  --header-height: 3rem;
  --result-area-height: 5rem;
  --footer-min-height: 2rem;
  --monospace-font-family: "Lucida Console", Courier, monospace;
}

body {
  background-color: light-dark(
    var(--color-light-surface-container),
    var(--color-dark-surface-container)
  );
  padding: 0;
  margin: 0;
}

#result-area {
  position: sticky;
  top: 0;
  left: 0;
  width: 100vw;
  height: var(--result-area-height);
  z-index: 10;
  padding: 0.25rem 0.5rem 1rem 0.5rem;
  background-color: light-dark(var(--color-light-form), var(--color-dark-form));
}

main {
  display: flex;
  flex-direction: column;
  width: 100vw;
  margin: 0;
  padding: 0.5rem 0.5rem 1rem 0.5rem;
  background-color: light-dark(var(--color-light-form), var(--color-dark-form));
}

div:has(> #char-map) {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: light-dark(
    var(--color-light-surface-variant),
    var(--color-dark-surface-variant)
  );
  border-radius: 0.25rem;
  border: solid 0.125rem
    light-dark(
      var(--color-light-surface-variant),
      var(--color-dark-surface-variant)
    );
  padding: 0 0.25rem;
}

#char-map {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  font-family: var(--monospace-font-family);
}

#char-map span {
  display: inline-block;
  line-height: 1.5rem;
  padding: 0 0.125rem;
  text-align: center;
  background-color: light-dark(var(--color-light-form), var(--color-dark-form));
  color: light-dark(
    var(--color-light-on-surface),
    var(--color-dark-on-surface)
  );
}

#char-map .disabled {
  background-color: light-dark(
    var(--color-light-surface-variant),
    var(--color-dark-surface-variant)
  );
  color: light-dark(
    var(--color-light-on-surface-variant),
    var(--color-dark-on-surface-variant)
  );
}

#char-map .used {
  background-color: light-dark(
    var(--color-light-tertiary-container),
    var(--color-dark-tertiary-container)
  );
  color: light-dark(
    var(--color-light-on-tertiary-container),
    var(--color-dark-on-tertiary-container)
  );
}

footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0 0.5rem env(safe-area-inset-bottom, 0) 0.5rem;
  min-height: var(--footer-min-height);
  width: 100vw;
  gap: 0 0.5rem;
  color: light-dark(
    var(--color-light-on-surface-variant),
    var(--color-dark-on-surface-variant)
  );
  background-color: transparent;
  font-size: 0.875rem;
  line-height: 1.75rem;
}

footer > a:not([class]) {
  color: light-dark(var(--color-light-link), var(--color-dark-link));
}

@media (width < 480px) {
  .hidden-xs {
    display: none !important;
  }
}

@media (min-width: 480px) {
  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 480px) {
  header {
    padding: 0.25rem calc((100vw - 480px) / 2);
  }

  #result-area,
  main,
  footer {
    margin: 0;
    padding-left: calc((100vw - 480px) / 2);
    padding-right: calc((100vw - 480px) / 2);
    width: 100vw;
  }
}
@media (min-width: 640px) {
  header {
    padding: 0.25rem calc((100vw - 600px) / 2);
  }

  #result-area,
  main,
  footer {
    margin: 0 calc((100vw - var(--content-max-width)) / 2);
    padding-left: calc((var(--content-max-width) - 600px) / 2);
    padding-right: calc((var(--content-max-width) - 600px) / 2);
    width: var(--content-max-width);
  }
}
