@import url(../css/theme.css);
body {
  background-color: var(--md-sys-color-surface-dim);
  margin: 0;
  padding: 0;
}
#content {
  background-color: var(--md-sys-color-background);
  margin: 0;
  padding: 0 0 12px 0;
  text-align: center;
}
@media only screen and (min-width: 640px) {
  body {
    text-align: center;
  }
  #content {
    width: 600px;
    display: inline-block;
  }
}
@media only screen and (min-width: 800px) {
  body {
    text-align:inherit;
    margin: 12px 20px;
  }
}
h1 {
  margin: 0 0 8px 0;
  padding: 4px 8px;
  font-weight: normal;
  font-size: 120%;
  color: var(--md-sys-color-on-secondary);
  background-color: var(--md-sys-color-secondary);
}
p,
md-outlined-text-field,
md-filter-chip {
  margin: 8px;
}
md-filled-button {
  margin: 8px 4px;
  min-width: 7em;
}
#password, #excludes {
  width: 90%;
  text-align: left;
}
#length {
  width: 80%;
}
#lengthValue {
  vertical-align: middle;
}
.error {
  color: var(--md-sys-color-error-on-container);
  background-color: var(--md-sys-color-error-container);
}
#chars {
  text-align: left;
  padding: 4px 8px;
  line-break: anywhere;
}
.stt-ignored,
.stt-staged,
.stt-used {
  font-family:'Courier New', Courier, monospace;
}
.stt-ignored {
  background-color: darkgray;
}
.stt-used {
  color: red;
}
