#pwa-badge-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 30;
  padding: 0;
  margin: 0;

  .PWABadge-toast {
    background-color: light-dark(
      var(--color-light-error-container),
      var(--color-dark-error-container)
    );
    color: light-dark(
      var(--color-light-on-error-container),
      var(--color-dark-on-error-container)
    );
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.25rem;
    gap: 0.5rem;

    #toast-message {
      max-width: calc(100% - 3rem);
    }
  }
}
