@theme {
  --color-light-primary: #616118;
  --color-light-surface-tint: #616118;
  --color-light-on-primary: #ffffff;
  --color-light-primary-container: #e8e78f;
  --color-light-on-primary-container: #494900;
  --color-light-secondary: #606043;
  --color-light-on-secondary: #ffffff;
  --color-light-secondary-container: #e7e4bf;
  --color-light-on-secondary-container: #49482d;
  --color-light-tertiary: #3d6657;
  --color-light-on-tertiary: #ffffff;
  --color-light-tertiary-container: #bfecd8;
  --color-light-on-tertiary-container: #254e40;
  --color-light-error: #ba1a1a;
  --color-light-on-error: #ffffff;
  --color-light-error-container: #ffdad6;
  --color-light-on-error-container: #93000a;
  --color-light-background: #fdf9ec;
  --color-light-on-background: #1c1c14;
  --color-light-surface: #fdf9ec;
  --color-light-on-surface: #1c1c14;
  --color-light-surface-variant: #e6e3d1;
  --color-light-on-surface-variant: #48473a;
  --color-light-outline: #797869;
  --color-light-outline-variant: #cac7b6;
  --color-light-shadow: #000000;
  --color-light-scrim: #000000;
  --color-light-inverse-surface: #313128;
  --color-light-inverse-on-surface: #f4f1e3;
  --color-light-inverse-primary: #cbcb76;
  --color-light-primary-fixed: #e8e78f;
  --color-light-on-primary-fixed: #1d1d00;
  --color-light-primary-fixed-dim: #cbcb76;
  --color-light-on-primary-fixed-variant: #494900;
  --color-light-secondary-fixed: #e7e4bf;
  --color-light-on-secondary-fixed: #1d1d06;
  --color-light-secondary-fixed-dim: #cac8a5;
  --color-light-on-secondary-fixed-variant: #49482d;
  --color-light-tertiary-fixed: #bfecd8;
  --color-light-on-tertiary-fixed: #002117;
  --color-light-tertiary-fixed-dim: #a4d0bd;
  --color-light-on-tertiary-fixed-variant: #254e40;
  --color-light-surface-dim: #dddacd;
  --color-light-surface-bright: #fdf9ec;
  --color-light-surface-container-lowest: #ffffff;
  --color-light-surface-container-low: #f7f4e6;
  --color-light-surface-container: #f1eee0;
  --color-light-surface-container-high: #ece8db;
  --color-light-surface-container-highest: #e6e3d5;
  --color-dark-primary: #cbcb76;
  --color-dark-surface-tint: #cbcb76;
  --color-dark-on-primary: #323200;
  --color-dark-primary-container: #494900;
  --color-dark-on-primary-container: #e8e78f;
  --color-dark-secondary: #cac8a5;
  --color-dark-on-secondary: #323218;
  --color-dark-secondary-container: #49482d;
  --color-dark-on-secondary-container: #e7e4bf;
  --color-dark-tertiary: #a4d0bd;
  --color-dark-on-tertiary: #0b372a;
  --color-dark-tertiary-container: #254e40;
  --color-dark-on-tertiary-container: #bfecd8;
  --color-dark-error: #ffb4ab;
  --color-dark-on-error: #690005;
  --color-dark-error-container: #93000a;
  --color-dark-on-error-container: #ffdad6;
  --color-dark-background: #14140c;
  --color-dark-on-background: #e6e3d5;
  --color-dark-surface: #14140c;
  --color-dark-on-surface: #e6e3d5;
  --color-dark-surface-variant: #48473a;
  --color-dark-on-surface-variant: #cac7b6;
  --color-dark-outline: #939182;
  --color-dark-outline-variant: #48473a;
  --color-dark-shadow: #000000;
  --color-dark-scrim: #000000;
  --color-dark-inverse-surface: #e6e3d5;
  --color-dark-inverse-on-surface: #313128;
  --color-dark-inverse-primary: #616118;
  --color-dark-primary-fixed: #e8e78f;
  --color-dark-on-primary-fixed: #1d1d00;
  --color-dark-primary-fixed-dim: #cbcb76;
  --color-dark-on-primary-fixed-variant: #494900;
  --color-dark-secondary-fixed: #e7e4bf;
  --color-dark-on-secondary-fixed: #1d1d06;
  --color-dark-secondary-fixed-dim: #cac8a5;
  --color-dark-on-secondary-fixed-variant: #49482d;
  --color-dark-tertiary-fixed: #bfecd8;
  --color-dark-on-tertiary-fixed: #002117;
  --color-dark-tertiary-fixed-dim: #a4d0bd;
  --color-dark-on-tertiary-fixed-variant: #254e40;
  --color-dark-surface-dim: #14140c;
  --color-dark-surface-bright: #3a3a30;
  --color-dark-surface-container-lowest: #0f0f07;
  --color-dark-surface-container-low: #1c1c14;
  --color-dark-surface-container: #202018;
  --color-dark-surface-container-high: #2b2a22;
  --color-dark-surface-container-highest: #36352c;

  --color-light-link: var(--color-blue-700);
  --color-dark-link: var(--color-blue-300);
  --color-light-form: var(--color-light-surface-container-lowest);
  --color-light-on-form: var(--color-dark-surface-container-lowest);
  --color-dark-form: var(--color-light-on-surface);
  --color-dark-on-form: var(--color-dark-on-surface);
}
