@theme {
  --color-light-primary: #446732;
  --color-light-surface-tint: #446732;
  --color-light-on-primary: #ffffff;
  --color-light-primary-container: #c5efab;
  --color-light-on-primary-container: #2d4f1c;
  --color-light-secondary: #55624c;
  --color-light-on-secondary: #ffffff;
  --color-light-secondary-container: #d9e7cb;
  --color-light-on-secondary-container: #3e4a35;
  --color-light-tertiary: #386666;
  --color-light-on-tertiary: #ffffff;
  --color-light-tertiary-container: #bbebec;
  --color-light-on-tertiary-container: #1e4e4f;
  --color-light-error: #ba1a1a;
  --color-light-on-error: #ffffff;
  --color-light-error-container: #ffdad6;
  --color-light-on-error-container: #93000a;
  --color-light-background: #f8faf0;
  --color-light-on-background: #191d16;
  --color-light-surface: #f8faf0;
  --color-light-on-surface: #191d16;
  --color-light-surface-variant: #e0e4d7;
  --color-light-on-surface-variant: #43483e;
  --color-light-outline: #74796d;
  --color-light-outline-variant: #c3c8bb;
  --color-light-shadow: #000000;
  --color-light-scrim: #000000;
  --color-light-inverse-surface: #2e312b;
  --color-light-inverse-on-surface: #f0f2e7;
  --color-light-inverse-primary: #a9d291;
  --color-light-primary-fixed: #c5efab;
  --color-light-on-primary-fixed: #072100;
  --color-light-primary-fixed-dim: #a9d291;
  --color-light-on-primary-fixed-variant: #2d4f1c;
  --color-light-secondary-fixed: #d9e7cb;
  --color-light-on-secondary-fixed: #131f0d;
  --color-light-secondary-fixed-dim: #bdcbb0;
  --color-light-on-secondary-fixed-variant: #3e4a35;
  --color-light-tertiary-fixed: #bbebec;
  --color-light-on-tertiary-fixed: #002020;
  --color-light-tertiary-fixed-dim: #a0cfd0;
  --color-light-on-tertiary-fixed-variant: #1e4e4f;
  --color-light-surface-dim: #d9dbd1;
  --color-light-surface-bright: #f8faf0;
  --color-light-surface-container-lowest: #ffffff;
  --color-light-surface-container-low: #f2f5ea;
  --color-light-surface-container: #edefe5;
  --color-light-surface-container-high: #e7e9df;
  --color-light-surface-container-highest: #e1e4d9;
  --color-dark-primary: #a9d291;
  --color-dark-surface-tint: #a9d291;
  --color-dark-on-primary: #173807;
  --color-dark-primary-container: #2d4f1c;
  --color-dark-on-primary-container: #c5efab;
  --color-dark-secondary: #bdcbb0;
  --color-dark-on-secondary: #283420;
  --color-dark-secondary-container: #3e4a35;
  --color-dark-on-secondary-container: #d9e7cb;
  --color-dark-tertiary: #a0cfd0;
  --color-dark-on-tertiary: #003738;
  --color-dark-tertiary-container: #1e4e4f;
  --color-dark-on-tertiary-container: #bbebec;
  --color-dark-error: #ffb4ab;
  --color-dark-on-error: #690005;
  --color-dark-error-container: #93000a;
  --color-dark-on-error-container: #ffdad6;
  --color-dark-background: #11140f;
  --color-dark-on-background: #e1e4d9;
  --color-dark-surface: #11140f;
  --color-dark-on-surface: #e1e4d9;
  --color-dark-surface-variant: #43483e;
  --color-dark-on-surface-variant: #c3c8bb;
  --color-dark-outline: #8d9286;
  --color-dark-outline-variant: #43483e;
  --color-dark-shadow: #000000;
  --color-dark-scrim: #000000;
  --color-dark-inverse-surface: #e1e4d9;
  --color-dark-inverse-on-surface: #2e312b;
  --color-dark-inverse-primary: #446732;
  --color-dark-primary-fixed: #c5efab;
  --color-dark-on-primary-fixed: #072100;
  --color-dark-primary-fixed-dim: #a9d291;
  --color-dark-on-primary-fixed-variant: #2d4f1c;
  --color-dark-secondary-fixed: #d9e7cb;
  --color-dark-on-secondary-fixed: #131f0d;
  --color-dark-secondary-fixed-dim: #bdcbb0;
  --color-dark-on-secondary-fixed-variant: #3e4a35;
  --color-dark-tertiary-fixed: #bbebec;
  --color-dark-on-tertiary-fixed: #002020;
  --color-dark-tertiary-fixed-dim: #a0cfd0;
  --color-dark-on-tertiary-fixed-variant: #1e4e4f;
  --color-dark-surface-dim: #11140f;
  --color-dark-surface-bright: #373a33;
  --color-dark-surface-container-lowest: #0c0f0a;
  --color-dark-surface-container-low: #191d16;
  --color-dark-surface-container: #1d211a;
  --color-dark-surface-container-high: #282b24;
  --color-dark-surface-container-highest: #32362f;

  --color-light-link: var(--color-blue-700);
  --color-dark-link: var(--color-blue-300);
  --color-light-form: var(--color-light-surface-container-lowest);
  --color-light-on-form: var(--color-dark-surface-container-lowest);
  --color-dark-form: var(--color-light-on-surface);
  --color-dark-on-form: var(--color-dark-on-surface);
}
